html{
    scroll-behavior: smooth;
}
body{
    padding: 0em;
    margin: 0em;
    background-color: rgba(230, 225, 225, 0.911);
}

#sideBar{
    background-color: rgb(192, 189, 192);
   
    position: fixed;
    height: 100%;
    width: 250px;
    top: -3px;
}
.image{
    overflow: hidden;
    margin: 10px;
    position: relative;
    height: 203px;
    width: 210px;
    border-radius: 360px;
}
#sideBar h2, p{
    text-align: center;
    line-height: 10px;
}
#sideBar nav ul li button{
    background-color: transparent;
    border-radius: 7px;
    font-size: 125%;
    border: none;
    line-height: 50px;
    
}
#sideBar nav ul li{
    list-style: none;
    text-align:inherit;
}
#sideBar nav ul #contact button{
    background-color: rgb(92, 103, 199);
    border-radius: 5px;
    
}
#sideBar nav ul #contact button:hover{
    background-color: rgb(85, 94, 177);
    border-radius: 5px;
    
}

#sideBar nav ul li button:hover{
    background-color: rgb(175, 172, 175); 
}
#sideBar .p2{
    color: rgb(102, 102, 102);
    line-height: 20px;
}
.content {
    float: left;
    position: absolute;
    left: 260px;
}

.content img{
    height: 70%;
    width: 99%;
}
.content .Education{
    height: 100%;
    display: block;
}
.content .Education p{
    line-height: 20px;
    text-align: left;
}
#skills{
    display: block;
}
.content #skill p{
    line-height: 20px;
    text-align: left;
}

#About P{
    line-height: 20px;
    text-align: left;
}
.content h2{
    color: rgb(56, 56, 56);
}
